

<nav class="bg-gray-300 border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-2xl flex items-center justify-between mx-auto p-2">
    <a class="flex items-center space-x-2 rtl:space-x-reverse">
        <img src="/images/freshcart-logo.svg" class="h-6 rounded-lg" alt="Logo">
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-4 h-4 px-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="flex grow items-center justify-between w-full md:w-auto" id="navbar-default">

        <ul class="capitalize font-medium flex flex-row items-center p-2 md:p-0 space-x-4 rtl:space-x-reverse bg-gray-300 md:bg-transparent border-0 dark:bg-gray-800 md:dark:bg-transparent">
          @if (isLoggedIn()) {

        <li>
              <a routerLink="home" class="block py-1 px-2 rounded-sm text-sm dark:text-white md:dark:text-blue-500" routerLinkActive="bg-green-800 rounded-lg text-white" >{{ 'navbar.home' | translate }}</a>
        </li>
         <li>
               <a routerLink="cart" class="block py-1 px-2 rounded-sm text-sm dark:text-white md:dark:text-blue-500" routerLinkActive="bg-green-800 rounded-lg text-white">{{ 'navbar.cart' | translate }}</a>
        </li>
         <li>
               <a routerLink="products" class="block py-1 px-2 rounded-sm text-sm dark:text-white md:dark:text-blue-500" routerLinkActive="bg-green-800 rounded-lg text-white" >{{ 'navbar.products' | translate }}</a>
         </li>
         <li>
               <a routerLink="categories" class="block py-1 px-2 rounded-sm text-sm dark:text-white md:dark:text-blue-500" routerLinkActive="bg-green-800 rounded-lg text-white" >{{ 'navbar.categories' | translate }}</a>
        </li>
         <li>
              <a routerLink="brands" class="block py-1 px-2 rounded-sm text-sm dark:text-white md:dark:text-blue-500" routerLinkActive="bg-green-800 rounded-lg text-white" >{{ 'navbar.brands' | translate }}</a>
        </li>
 
    }
       </ul>

  <ul class="flex items-center justify-end space-x-3 rtl:space-x-reverse">



  <button id="dropdownRadioButton" data-dropdown-toggle="dropdownDefaultRadio" class="text-white bg-green-800 hover:bg-green-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 text-center inline-flex items-center" type="button">{{'navbar.changeLanguage' | translate}} 
</button>

<!-- Dropdown menu -->
<div id="dropdownDefaultRadio" class="z-10 hidden w-48 bg-gray-400 divide-y divide-gray-100 rounded-lg shadow-sm">
    <ul class="p-3 space-y-3 text-sm text-gray-700" aria-labelledby="dropdownRadioButton">
      <li [class.hidden]="currentLang('en')">
        <div class="flex items-center" (click)="changelang('en')">
            <input id="default-radio-1" type="radio" value="" name="default-radio" class="w-4 h-4 text-gray-600 bg-white border-gray-300 focus:ring-blue-500 ">
            <label for="default-radio-1" class="ms-2 text-sm font-medium text-white ">English</label>
        </div>
      </li>
      <li [class.hidden]="currentLang('ar')">
        <div class="flex items-center" (click)="changelang('ar')">
            <input checked id="default-radio-2" type="radio" value="" name="default-radio" class="w-4 h-4 text-gray-600 bg-white border-gray-300 focus:ring-blue-500 ">
            <label for="default-radio-2" class="ms-2 text-sm font-medium text-white">Arabic</label>
        </div>
      </li>
    </ul>
</div>


















    <li>
      <a href="#" class="block p-1 rounded-sm md:bg-transparent md:text-black text-sm dark:text-white md:dark:text-blue-500"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="#" class="block p-1 rounded-sm md:bg-transparent md:text-black text-sm dark:text-white md:dark:text-blue-500"><i class="fab fa-facebook"></i></a>
    </li>
    <li>
      <a href="#" class="block p-1 rounded-sm md:bg-transparent md:text-black text-sm dark:text-white md:dark:text-blue-500"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="#" class="block p-1 rounded-sm md:bg-transparent md:text-black text-sm dark:text-white md:dark:text-blue-500"><i class="fab fa-youtube"></i></a>
    </li>
    <li>
      <a href="#" class="block p-1 rounded-sm md:bg-transparent md:text-black text-sm dark:text-white md:dark:text-blue-500"><i class="fab fa-linkedin"></i></a>
    </li>
    <li>
      <a href="#" class="block p-1 rounded-sm md:bg-transparent md:text-black text-sm dark:text-white md:dark:text-blue-500"><i class="fab fa-tiktok"></i></a>
    </li>
   


    @if (isLoggedIn()) {
      <li>
        <a routerLink="cart" routerLinkActive="rounded-lg text-green-800 text-2xl" class="block p-1 rounded-sm md:bg-transparent md:text-black cursor-pointer relative">
          <i class="fas fa-shopping-cart"></i>
          <span class="bg-green-100 text-green-800 text-xs font-medium me-2 p-1 rounded-sm border border-green-400 absolute top-0 right-[3px]">10</span>
        </a>
      </li>

       <li>
        <a class="block py-1 px-4 rounded-sm md:bg-transparent md:text-black text-sm dark:text-white md:dark:text-blue-500 cursor-pointer" (click)="signOut()">{{ 'navbar.signout' | translate }}</a>
      </li>
    }
    

    @else {
        <li>
          <a class="block py-1 px-2 rounded-sm md:text-black text-sm dark:text-white md:dark:text-blue-500" routerLink="login" routerLinkActive="bg-green-800 rounded-lg text-white" aria-current="page">{{ 'navbar.login' | translate }}</a>
        </li>
        <li>
         <a class="block py-1 px-2 rounded-sm md:text-black text-sm dark:text-white md:dark:text-blue-500" routerLink="register" routerLinkActive="bg-green-800 rounded-lg text-white" aria-current="page">{{ 'navbar.register' | translate }}</a>
       </li>
    }
  </ul>
</div>
  </div>
</nav>
